.content {
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding-top: 32px;
	transition: margin-left 0.2s ease-in;
	margin: 0px;
	overflow-x: hidden;
}

@media (max-width: 800px) {
	.content {
		width: 100%;
	}
}

.no-sidebar .content {
	margin-left: 0px;
}

.with-sidebar .content {
	margin-left: var(--sidebar-width);
}

.content-body {
	max-width: 60em;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
}

.section-body {
	padding: 8px 16px;
}

@for $i from 0 to 4 {
	a.section-h#{$i} {
		padding: 6px 16px;
		border-bottom: 0.2em solid hsl(190 + 20 * $i, 60%, 40%);
		font-size: 20pt - $i * 2pt;
		font-weight: var(--bold-weight);
		display: block;
		color: var(--text-color);
	}
}

.content-nav {
	display: flex;
	flex-direction: row;
	max-width: 70em;
	margin-left: auto;
	margin-right: auto;
	padding: 40px 20px;
	-webkit-tap-highlight-color: hsla(0, 0%, 100%, 0.05);
}

.prev-page,
.next-page {
	width: 40px;
	height: 20px;
	margin: 0px;
	padding: 20px;
	display: flex;
	justify-content: center;
	background-color: var(--button-color);
	transition: background-color 1s;
}

@media (hover: hover) {
	:is(.prev-page, .next-page):hover {
		background-color: var(--button-color-light);
	}
}

.prev-page {
	margin-right: auto;
}

.next-page {
	margin-left: auto;
}

.arrow {
	max-width: 100%;
	max-height: 100%;
	fill: var(--text-color);
}
