.content {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 32px;
}

.noSidebar .content {
  margin-left: 0px;
}

.withSidebar .content {
  margin-left: 300px;
}

.content-body {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.section-body {
  padding: 8px 16px;
}

@for $i from 0 to 4 {
  a.section-h#{$i} {
    padding: 6px 16px;
    border-bottom: 0.25em solid hsl(190 + 20 * $i, 60%, 40%);
    font-size: 20pt - $i * 2pt;
    font-weight: var(--bold-weight);
    display: block;
    color: var(--text-color);
  }
}