.grammar,
.algorithm,
.codepoint {
	background-color: var(--block-color);
	font-family: 'Source Code Pro', Consolas, 'Ubuntu Mono', Menlo,
		'DejaVu Sans Mono', monospace, monospace !important;
}
.grammar,
.algorithm {
	margin-top: 16px;
	border-radius: 2px;
	padding: 8px 28px;
	font-size: 1em;
	display: block;
}

.grammar {
	overflow-x: auto;
	white-space: nowrap;
}

.grammar::-webkit-scrollbar {
	background-color: var(--block-color);
	height: 8px;
}

.grammar::-webkit-scrollbar-thumb {
	background-color: hsla(0, 0%, 100%, 0.4);
}

.grammar p {
	margin: 2px 0px;
}

.production {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: flex-start;
	row-gap: 0px;
}

.production-left {
	white-space: pre;
	margin: 0px;
	padding: 0px 0px 0px 28px;
}

.production-right {
	margin: 0px;
	padding: 0px 28px 0px 0px;
}

$sides: left right;

.production-name {
	font-style: italic;
	color: var(--link-color);
}

.terminal {
	color: bisque;
}

.union-part {
	display: inline-block;
}

.pipe {
	display: inline-block;
	padding: 0px 0.6rem;
}
