.sidebar {
  background-color: hsl(0, 0%, 8%);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  display: block;
  position: absolute;
  overflow: auto;
  left: 0;
  top: 60;
  z-index: 2;
  transform: 0.5s;
}

.withSidebar .sidebar {
  width: 300px;
}

.noSidebar .sidebar {
  width: 0px;
}

.sidebar-header {
  padding: 12px 16px;
  font-weight: bold;
  font-size: 16pt;
  border-bottom: 10px var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

.sidebar-link {
  color: var(--text-color);
  padding: 10px 16px;
  font-weight: var(--bold-weight);
}

.sidebar-link-selected {
  color: var(--text-color);
  padding: 10px 16px;
  font-weight: var(--bold-weight);
  background-color: hsl(190, 35%, 15%);
}

.sidebar-link:hover {
  background-color: hsl(0, 0%, 15%);
}