@import '_header';
@import '_sidebar';
@import '_grammar';
@import '_content';

:root {
	background-color: hsl(0, 0%, 12%);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--link-color: hsl(210, 70%, 60%);
	--text-color: #e4e4e4;
	--unselected-color: #c4c4c4;
	--bold-weight: 500px;
	--header-color: hsl(200, 60%, 25%);
	--button-color: hsl(200, 60%, 25%);
	--button-color-light: hsl(200, 60%, 35%);
	--sidebar-width: 300px;
	--block-color: hsl(0, 0%, 15%);
	line-height: 1.7;
}

::-webkit-scrollbar-button {
  height: 0px;
  width: 0px;
}

::-webkit-scrollbar {
  background-color: hsl(0, 0%, 10%)
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.75);
}

body {
	overflow-x: clip;
}

html {
	overflow-x: clip;
	scroll-padding-top: 1rem;
	scroll-behavior: smooth;
}

body {
	margin: 0px;
	max-width: 100%;
}

ul {
	margin: 0px;
}

ul li {
	margin: 0px;
	padding: 0px;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

p {
	margin: 4px 0;
	padding: 4px 0px;
}
