@import '_header';
@import '_sidebar';
@import '_grammar';
@import '_content';

:root {
	background-color: hsl(0, 0%, 12%);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--link-color: hsl(210, 70%, 60%);
	--text-color: #e4e4e4;
	--unselected-color: #c4c4c4;
	--bold-weight: 500px;
	--header-color: hsl(201, 60%, 25%);
	line-height: 1.7;
}

body {
	margin: 0px;
}

ul {
	margin: 0px;
}

ul li {
	margin: 0px;
	padding: 0px;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

p {
	margin: 4px 0;
	padding: 4px 0px;
}
