:root {
  background-color: hsl(0, 0%, 12%);
  color: white;
  margin-right: auto;
  margin-left: auto;
  max-width: 75.75rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
}

ul li { padding: 5px; }

a {
  color: #50a7e1;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.codeblock {
  margin: 1em 0px;
  padding: 8px 28px;
  font-size: 1em;
  background-color: #303030;
  font-family: Consolas;
  display: block;
  white-space: pre;
}

.codeblock p {
  padding: 0px 0px;
  margin: 2px;
}

.terminal {
  color: bisque;
}

.section0 {
  font-size: 24pt;
  font-weight: bold;
}

.section1 {
  font-size: 20pt;
  font-weight: bold;
}

.section2 {
  font-size: 16pt;
  font-weight: bold;
}